<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
   <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
   <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">

        <form class="form-signin">
          <h2 class="form-signin-heading">Please sign in</h2>
          <input type="text" class="input-block-level" placeholder="User" id="user" >
          <input type="password" class="input-block-level" placeholder="Password" id="pass">
          <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <button class="btn btn-large btn-primary" type="button" id="send">Sign in</button>
        </form>

      </div> <!-- /container -->

      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="/javascripts/jquery-1.10.2.js"></script>
      <script src="/javascripts/main.js"></script>
  </body>
</html>
