<!DOCTYPE html>
<html>
  <head>
    <title><Registration Page></title>
   <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
   <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">

        <form class="form-signin">
          <h2 class="form-signin-heading">Registration Page</h2>
          <input type="text" class="input-block-level" placeholder="Enter your name" id="name" >
          <input type="password" class="input-block-level" placeholder="Enter your password" id="userpass">
          <input type="password" class="input-block-level" placeholder="Rewrite your password" id="userpassword">
          <button class="btn btn-large btn-primary" type="button" id="registrate">Registration</button>
        </form>

      </div> <!-- /container -->

      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="/javascripts/jquery-1.10.2.js"></script>
      <script src="/javascripts/registration.js"></script>
  </body>
</html>
